:root {
  --vermelho: #e50914;
  --preta: #141414;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--preta);
  font-family: "Arial", Times, serif;
  color: white;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  color: var(--vermelho);
  font-family: "Arial Black", Times;
  font-size: 40px;
  margin-left: 5px;
}

header nav a {
  text-decoration: none;
  color: #aaa;
  margin-right: 10px;
}

header nav a:hover {
  color: #fff;
}

/*filmeprincipal*/
.filme-principal {
  font-size: 16px;
  background: linear-gradient(rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5) 100%),
    url("../img/house-capa.jpg");
  height: 400px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.filme-principal .descricao {
  margin-bottom: 40px;
  margin-top: 10px;
}

.titulo {
  margin-top: 15%;
  font-size: 40px;
  font-family: "Trebuchet MS", Arial, sans-serif;
}

.botao {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  padding: 15px 30px;
  margin-right: 15px;
  font-size: 12px;
  cursor: pointer;
  transition: 0.3s ease all;
}

.botao:hover {
  background-color: white;
  color: black;
}

.botao i {
  margin-right: 8px;
}

.container {
  margin-left: 20px;
}

.filme-principal .container {
  width: 70%;
}

.box-filme {
  height: 100%;
  width: 100%;
  display: block;
}

.carousel-films {
  margin-top: 5px;
}

.logo {
  cursor: pointer;
}

.box-filme {
  cursor: pointer;
}
